<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/client.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeopleCounter-Client</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/client.js"></script>
</head>
<body>
            <h1>室内には<span id="js_people_number">0</span>人います</h1>
</body>
</html>